# KCONFIG_GROUP: Solution & Product
menu "AVDK NN Module"

	config TFLM_YOLOFACE_V1
		depends on TFLITE_MICRO
		bool "Enable tflm YOLOFACE_V1"
		default n

	config TFLM_PALM_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm PALM_V1"
		default n

	config TFLM_HAND_GESTURE_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm HAND_GESTURE_DETECTION_V1"
		default n

	config TFLM_FACE_RECOG_V1
		depends on TFLITE_MICRO
		bool "Enable tflm FACE_RECOG_V1"
		default n

endmenu
