menu "VOLC_RTC demo Configuration"
    config LDO3V3_ENABLE
        bool "Enabel LDO_3V3"
        default n

    config HARDWARE_SPEAKER_VER
        int "select HARDWARE_SPEAKER_VER"
        range 0 8
        default 0

    config AUDIO_PARA
        bool "Enable AUDIO_PARA"
        default n
endmenu
